<div class="sidebar">
  <ul class="menu-list">
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="icon"> <i class="fa-solid fa-chart-area"></i></i>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/admin/import" routerLinkActive="active">
        <i class="icon"><i class="fa-solid fa-box"></i></i> Nhập kho
      </a>
    </li>
    <li>
      <a routerLink="/admin/devices" routerLinkActive="active">
        <i class="icon"><i class="fa-solid fa-gear"></i></i> Quản lý thiết bị
      </a>
    </li>
    <li>
      <a routerLink="/admin/users" routerLinkActive="active">
        <i class="icon"><i class="fa-solid fa-user-group"></i></i> Quản lý người dùng
      </a>
    </li>
  </ul>
</div>
